<h3>Editing Employee</h3>

<%= render 'form', employee: @employee %>

<%= link_to 'Show', [@employer, @employee], class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', employer_employees_path(@employer), class: "btn btn-outline-secondary" %>
