
<div class="display">
  <h1>"TBM"</h1>
  <h2>This is the 10 608 version of TBM!</h2>
  <h2>Haven't you signed up already!?</h2>
  <%= link_to "Sign up now!", new_user_registration_url, class: "btn btn-outline-secondary" %>
</div>

<div class="info">
  <h5>Who I am?</h5>
  <p>
    My name is Moldovan Vlad-Robert, most people call me by Vlad but I respond to Robert aswell, I am 22 years old and I lived my entier life till now in Romania.
    Currently I live in a fairly large city called Cluj-Napoca, I moved here 3 years ago by myself in order to pursue my desiered University, but after about an year I realized I was on the wrong path, and I decided to intrrerupt my education.
    Since then in the past 2 years while working a full time job, whit ups and downs, highs and lows I've tryed to find myself a place into the coding world which led my up to this point.
  </p>
</div>