<h3>Editing Budget</h3>

<%= render 'form', budget: @budget %>

<%= link_to 'Show', [@employer, @budget], class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', employer_budget_path(@employer), class: "btn btn-outline-secondary" %>
