<h3>Editing Employer</h3>

<%= render 'form', employer: @employer %>

<%= link_to 'Show', @employer, class: "btn btn-outline-secondary" %> 
<%= link_to 'Back', employers_path, class: "btn btn-outline-secondary" %>
